@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,62..125,100..900;1,62..125,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --green: #7ad03a;
  --red: #a00;
  --orange: #ffba00;
  --blue: #2ea2cc;
  --primary: #7f54b3;
  --primary-text: white;
  --secondary: #e9e6ed;
  --secondary-text: #515151;
  --highlight: #777335;
  --highligh-text: white;
  --content-bg: #fff;
  --subtext: #767676;
  --landing-bg: #656565;
  --golden-text: #ffb34d;
}
a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

h1 {
  font-size: 3rem;
}
